<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<test name="Zest Money Test">
	
		<parameter name="Browser" value="Chrome" />
		
		<classes>

			<class name="ZestMoney.TestCases.Zest_MoneyAssignmentTest" />
			
		</classes>
		
	</test>
	
</suite> 